# terraform {
#   backend "s3" {
#     bucket         = "taifa-terraform-state-ACCOUNT_ID"
#     key            = "env/prod/terraform.tfstate"
#     region         = "af-south-1"
#     dynamodb_table = "terraform-locks"
#     encrypt        = true
#   }
# }
